header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    border-bottom: 2px solid red;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    color: rgb(255, 240, 240);
    height: 5rem;
}

.header-list-itens {
    display: flex;
    gap: 1rem;
}

.header-list-itens > ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    font-size: 1.1rem;
}

.header-list-itens > div > button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.1rem;
    font-weight: bolder;
}

