header {
    background-image: url('../../images/fundo-principal.jpg');
    height: 90vh;
    background-size: cover;
    width: 100vw;
}

header > div {
    background-image: linear-gradient(to bottom, rgb(19, 19, 19), rgba(53, 53, 53, 0.377));
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header > h2 > a {
    list-style: none;
    font-style: normal;
    text-decoration: none;
}

header > h2 > a:visited {
    color: black;
}

header > div > div > p {
    margin-top: 50px;
    width: 600px;
    padding: 1.2rem;
    color: rgb(212, 212, 212);
    font-size: 2.2rem;
    text-align: center;
}

.text-emphasis {
    color: red;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(212, 212, 212);
    width: 800px;
    padding: 1.2rem;
}

nav > img {
    width: 50px;
}

.header-list-itens {
    display: flex;
    gap: 1rem;
}

.header-list-itens > ul {
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
    font-size: 1rem;
}

.header-list-itens > ul > li:hover{
    color: red;
    cursor: pointer;
    transition: 400ms;
}

.header-list-itens > div > button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1rem;
    font-weight: bolder;
}

.header-list-itens > div > button:hover {
    color: white;
    cursor: pointer;
    transition: 400ms;
}

.header-list-itens > div {
    display: flex;
    align-items: center;
}

hr {
    width: 60vw;
    border-radius: 80%;
}

@media screen and (max-width: 1680px) {
    header > div > div > p {
        margin-top: 50px;
        width: 600px;
        padding: 1.2rem;
        color: rgb(212, 212, 212);
        font-size: 1.9rem;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    nav {
        width: 100vw;
    }

    .header-list-itens > ul {
        gap: 0.8rem;
        list-style: none;
        font-size: 0.9rem;
    }

    .header-list-itens > div > button {
        font-size: 0.8rem;
    }


    header > div > div > p {
        margin-top: 50px;
        width: 400px;
        padding: 1.2rem;
        color: rgb(212, 212, 212);
        font-size: 1.4rem;
        text-align: center;
    }
}

@media screen and (max-height: 900px) {
    header {
        height: 70dvh;
    }

    header > div {
        height: 70vh;
    }
}

@media screen and (max-height: 700px) {
    header {
        height: 80dvh;
    }

    header > div {
        height: 80vh;
    }
}
