nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(212, 212, 212);
    width: 100vw;
    padding: 2rem 12rem;
    position: fixed;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(19, 19, 19, 0.11));
    backdrop-filter: blur(5px);
    z-index: 99;
}

nav > a > img {
    width: 90px;
    opacity: 1;
}

.header-list-itens {
    display: flex;
    gap: 1rem;
}

.header-list-itens > ul {
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
    font-weight: bold;
}

.header-list-itens > ul > li {
    padding: 2rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(212, 212, 212);
    position: relative;
}

.header-list-itens > ul > li > a {
    text-decoration: none;
}

.header-list-itens > ul > li > a:visited {
    color: rgb(212, 212, 212);
}

.header-list-itens > ul > li::after {
    content: '';
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    width: 0px;
    height: 0.3rem;
    background: red;
    transition: all 150ms ease-in-out;
    border-radius: 10px;
}

.header-list-itens > ul > li:hover::after {
    width: 50%;
    left: 25%;
}

.header-list-itens > div > button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1rem;
    font-weight: bolder;
}

.header-list-itens > div > button:hover {
    color: white;
    cursor: pointer;
    transition: 400ms;
}

.header-list-itens > div {
    display: flex;
    align-items: center;    
}

@media screen and (max-width: 1440px) {
    .header-list-itens > ul > li {
        padding: 1rem 0.3rem;
        font-size: 1rem;
    }

    nav {
        padding: 1rem 8rem;
    }

    nav > img {
        width: 70px;
        opacity: 1;
    }

    header > div > div > :nth-child(1) {
        font-size: 2.5rem;
        left: 18rem;
        top: 10rem;
    }

    header > div > div > :nth-child(2) {
        font-size: 2.5rem;
        left: 18rem;
        top: 13rem;
    }

    header > div > div > :nth-child(3) {
        font-size: 2.5rem;
        left: 18rem;
        top: 16rem;
    }
}


@media screen and (max-width: 600px) {
    header {
        height: 60vh;
        background-position: center center;
    }

    header > div {
        height: 60vh;
    }

    .header-list-itens{
        display: none;
    }

    nav {
        padding: 1.3rem 2rem;
    }

    header > div > div > :nth-child(1) {
        font-size: 1.7rem;
        left: 3rem;
        top: 3rem;
        line-height: 2rem;
    }

    header > div > div > :nth-child(2) {
        font-size: 1.7rem;
        line-height: 2rem;
        left: 3rem;
        top: 5rem;
    }

    header > div > div > :nth-child(3) {
        font-size: 1.7rem;
        line-height: 2rem;
        left: 3rem;
        top: 7rem;
    }
}

