.maps {
    margin-top: 6rem;
    display: flex;
}

.maps > iframe {
    width: 100vw;
    height: 600px;
    border: 0;
}

@media screen and (max-height: 900px) {

    .maps > iframe {
        width: 110vw;
        height: 600px;
        border: 0;
    }
}